{{define "nav"}}
<nav>
  <div>
    <a href="/">Home</a>
    <!-- Toggle the link based on authentication status -->
    {{if .IsAuthenticated}}
    <a href="/snippet/create">Create snippet</a>
    {{ end }}
  </div>
  <div>
    <!-- Toggle the links based on authentication status -->
    <form action="/user/logout" method="POST">
      <!-- CSRF token -->
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <button>Logout</button>
    </form>
    <a href="/user/signup">Signup</a>
    <a href="/user/login">Login</a>
  </div>
</nav>
{{ end }}
